<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
     <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-image: url(../images/handprint.jpg); background-size: 100%;">
    <div id="bg2">
    <h2> Welcome to the Crime Education Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/criminal_sitch">
      
<div class = "container"
  <div class=  "dropdown">
    <select name="choice">
 
  <option value="Robbery">Robbery</option>
  <option value="Murder">Murder</option>
  <option value="Shooting">Shooting</option>
  <option value="Hostage Situation">Hostage Situation</option>
</select>

<input type="submit">

</form>
 </div>
 </div>
 </div>
  </body>
</html>