<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>medical</title>
    <link rel="stylesheet" href="../css/main.css" />
     <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body style="background-image: url(../images/medbg.jpg); background-size: 100%;">
      <div>
    <h2> Welcome to the Medical Information Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/medical_sitch">
      
<!--<div class = "container"-->
<!--  <div class= "dropdown"> -->
  <select name="choice" id="dropstyle">
  <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    
  <!--<a href="#">Unconscious Person</a>-->
  <!--  <a href="#">Drowning Person</a>-->
  <!--  <a href="#">Allergic Reaction</a>-->
  <!--  <a href="#">Poison Consumption</a>-->
  <!--  <a href="#">Heavy Bleeding-->
  <!--  <a href="#">Seizures-->
  <!--</select>-->

  <option value="Unconscious Person">Unconscious Person</option>
  <option value="Drowning Person">Drowning Person</option>
  <option value="Allergic Reaction">Allergic Reaction</option>
  <option value="Poison Consumption">Poison Consumption</option>
  <option value= "Heavy Bleeding">Heavy Bleeding</option>
  <option value= "Seizures">Seizures</option>
  </div>
</div>
 </select>

<input type="submit">

</form>
 <!--</div>-->
 </div>
 </div>
  </body>
</html>