<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
     <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-image: url(../images/tsunami.jpg); background-size: 100%;">
    <h2> Welcome to the Natural Disaster Safety Information Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/natural_disasters_sitch">
      
<div class = "container"
  <div class= "dropdown"> 
    <select name="choice">
 
  <option value="Tornado">Tornado</option>
  <option value="Forest Fire">Forest Fire</option>
  <option value="House Fire">House Fire</option>
  <option value="Tsunami">Tsunami</option>
  <option value= "Earthquake">Earthquake</option>
 
</select>

<input type="submit">

</form>
 </div>
 </div>
  </body>
</html>





