<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
     <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-image: url(../images/walkingdead.jpg); background-size: 100%;">
    <h2> Welcome to the Miscellaneous Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/other_sitch">
      
<div class = "container"
  <div class= "dropdown"> 
    <select name="choice">
 
  <option value="Shark Attack">Shark Attack</option>
  <option value="Skin Care EMERGENCY">Skin Care EMERGENCY</option>
  <option value="Zombie Apocalypse">Zombie Apocalypse</option>
  <option value="Voldemort Resurrection">Voldemort Resurrection</option>
  <option value= "Jurassic Park dinosaur escape">Jurassic Park dinosaur escape</option>
</select>

<input type="submit">

</form>
 </div>
 </div>
  </body>
</html>