<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
     <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-image: url(../images/umbrella.jpg); background-size: 100%;">
<div id="bg2">
    <h2> Welcome to the Personal Safety Information Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/personal_safety_sitch">
      
<div class = "container"
  <div class= "dropdown"> 
    <select name="choice">
 
  <option value= "Self-defense">Self-defense</option>
  <option value="Sexual Violence">Sexual Violence</option>
  <option value="Mental Health">Mental Health</option>
  <option value="Unhealthy Relationship">Unhealthy Relationship</option>
</select>

<input type="submit">

</form>
 </div>
 </div>
  </body>
</html>