<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/main.css" />
     <link rel="stylesheet" href="css/style.css" />
  </head>
 <body style="background-image: url(../images/fire.jpg); background-size: 100%;">
<div id="bg2">
    <h2> Welcome to the Public Safety Page. </h2>
    
    <!--Drop down bar and submit button -->
    <h3>Please select the situation you are curious about. </h3>
    <form method="POST" action="/public_safety_sitch">
      
<div class = "container"
  <div class= "dropdown">
    <select name="choice">
 
  <option value="Vehicle (bus, train car) Crash">Vehicle (bus, train car) Crash</option>
  <option value="Fallen Electrical line">Fallen Electrical line</option>
  <option value="Building/Business Fire">Building/Business Fire</option>
</select>

<input type="submit">

</form>
 </div>
 </div>
  </body>
</html>