<!DOCTYPE HTML>

<html>
	<head>
		<link rel="stylesheet" href="css/main.css" />
		<img src="umbrella.jpg">
	</head>
  <body>
  
  <div class="answer">
  <ol>
  <%@answer.each do |step|%>
  <li><%=step%></li>
  <%end%>
</ol>
   </div>
   
   
  </body>
</html>